@import "/src/styles/settings/__settings";

.table {
  border-radius: 15px;
  border: 1px solid $dark-gray;
  background: $black;
  width: 100%;
  padding: 1em;
  flex-direction: column;
  > div {
    background-color: transparent;
  }
}

.cell {
  color: $very-light-gray;
  font-weight: 400;
}

.table > *th {
  background-color: $dark-green;
  color: $barely-white;
  font-size: 1em;
}