$white: #ffffff;
$black: #000000;
$secondary: #27a338;
$background: #141313;
$barely-white: #efefef;
$very-light-gray: #c7c7c7;
$light-gray: #b0b0b0;
$dark-gray: #2d2f2d;
$light-green: #46d95a;
$dark-green: #0c731a;
$almost-black: #030303;
$very-light-green: #99F5A6;