@import "/src/styles/settings/__settings";
.page {
  background-color: $background;
  flex-direction: column;
  width:100%;
  min-height:100svh;
}

.pageWrap {
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
}

.imageContainer {
  width: fit-content;
  width: 100%;
  height: 100svh;
  background-color: $black;
  display: flex;
  position: relative;
  @media (max-height: 500px) {
    display: none;
  }
}

.textContainer {
  width: 100%;
  padding: 5% 10% 0 10%;
  flex-direction: column;
}

.mainTitle {
  position: relative;
  font-size: 2.2em;
  font-weight: 600;
  color: $barely-white;
  margin-bottom: 0.5em;
  left: 0.3em;
  top: -0.2em;
}

.subtext {
  font-size: 1em;
  font-weight: 400;
  color: $light-gray;
}

.rectangleContainer {
  $width: 2em;
  position: absolute;
  width: $width;
  height: $width * 28/31;
}

.dropdownContainer {
  align-items: center;
  margin: 1em 0 2em 0;
  width: 27em;
}

.searchbarContainer {
  align-items: center;
  margin: 0;
  width: 25em;
}

.input {
  margin: 0;
  color:$barely-white;
  div[data-focus="true"] {
    border-color: $very-light-green!important;
    *svg {
      color:$very-light-green;
    }
}
}

.monitorContainer {
  flex-direction: column;
  padding: 2em 0 2em 0;
}

.monitorTitle {
  color:$white;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 2em 0;
}

.cardsContainer {
  flex-wrap: wrap;
}

.cardWrapper {
  padding:0 1em;
  padding-bottom: 1em;
}

.card {
  background-color: $black;
  border-radius: 1em;
  border: 3px solid #2D2F2D;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  width:14em;
  height: 12em;
}

.cardTitle {
  color:$light-gray;
  font-size: 0.8em;
}

.cardIcon {
  color:$secondary;
  font-size: 4em;
  margin-top:0.1em;
}

.cardIconFail {
  color:red;
  font-size: 4em;
  margin-top:0.1em;
}

.cardValue {
  color:$very-light-gray;
  font-size: 2.2em;
  font-weight: 600;
}

.greenRectangle {
  width: 1.8em;
  height:0.3em;
  background-color: $secondary;
  border-radius: 1px;
  margin-bottom: 0.4em;
}

.redRectangle {
  width: 1.8em;
  height:0.3em;
  background-color: red;
  border-radius: 1px;
  margin-bottom: 0.4em;
}